<h1>Differences b/w Ruby & Javascript</h1>

<h3><%= link_to 'New Difference', new_difference_path %></h3>

<ol>
	<% @differences.each do |d| %>
		<li>
			<%= link_to d.title, difference_path(d.id) %>
		</li>
	<% end %>
</ol>



<%= link_to 'Back', root_url %>